{% comment %} {% assign food_pairing_metafields = product.metafields.custom %} {% endcomment %}

<div class="py-20 flex flex-col px-4 max-w-[1360px] m-auto justify-center">
  <h3 class="font-semibold self-center ">{{ section.settings.food_section_title }}</h3>

  {% comment %} {% if section.blocks %} {% endcomment %}
  {% comment %} {% assign features = block.settings.food_array | split: ',' %} {% endcomment %}
  {% if product.metafields.custom.food_pairings_name.value == blank %}
    <p class="text-center">There are no food pairings to recommend with {{ product.title }} at this moment.</p>

  {% else %}
    <div class="food-card flex justify-evenly items-start gap-6">
      {% for item in product.metafields.custom.food_pairings_name.value %}
        <div class="food-pairing-item flex flex-col items-center max-w-[280px]">
          {% case item %}
            {% when 'Soft Cheeses' %}
              {{ images['soft_cheeses_1.webp'] | image_url: width: 200 | image_tag: widths: '150, 200' }}
              {% assign description = 'pairs well because the high alcohol content and varied flavors in whisky can cut through the richness of cheeses like Brie and Camembert, cleansing the palate and preparing it for the next bite.
            ' %}

            {% when 'Dark Chocolate' %}
              {{ images['dark_chocolate_1.webp'] | image_url: width: 200 | image_tag: widths: '150, 200' }}

              {% assign description = 'has robust tannins and dark fruit flavors that complement the bitterness and richness of chocolate.' %}

            {% when 'Fruit-based Desserts' %}
              {{ images['fruit-based_desserts.webp'] | image_url: width: 200 | image_tag: widths: '150, 200' }}

              {% assign description = 'has a rich, honeyed character that complements concentrated fruit flavors like berry and apple beautifully.' %}

            {% when 'Barbecue/Grilled Meat' %}
              {{ images['barbecue_ribs_1.webp'] | image_url: width: 200 | image_tag: widths: '150, 200' }}

              {% assign description = 'sweet, woody notes align perfectly with the smoky flavor of BBQ ribs and grilled steaks' %}

            {% when 'Asian Dishes' %}
              {{ images['asian_dish.webp'] | image_url: width: 200 | image_tag: widths: '150, 200' }}

              {% assign description = 'has a sweetness and acidity that works beautifully against the heat of spicy dishes from cuisines like Thai or Sichuan' %}

            {% when 'Pasta With Cream Sauces' %}
              {{ images['pasta_cream_1.webp'] | image_url: width: 200 | image_tag: widths: '150, 200' }}

              {% assign description = 'has a lighter body yet flavorful profile, stands up well to the richness of cream-based sauces like alfredo and carbonara' %}

            {% when 'Fried Foods' %}
              {{ images['fried_food_1.webp'] | image_url: width: 200 | image_tag: widths: '150, 200' }}

              {% assign description = 'complements crispiness of fried foods like calamari and fried chicken with a smooth texture of the drink' %}

            {% when 'Roast Meats' %}
              {{ images['roast_duck_1.webp'] | image_url: width: 200 | image_tag: widths: '150, 200' }}

              {% assign description = 'goes down well with the crisp of roast pork or roast duck' %}

            {% when 'Charcuterie' %}
              {{ images['charcuterie_1.webp'] | image_url: width: 200 | image_tag: widths: '150, 200' }}

              {% assign description = 'is excellent with cured meats due to its robust flavors and tannins, which can stand up to the richness and saltiness of meats like salami or prosciutto.' %}

            {% when 'Seafood' %}
              {{ images['seafood.png'] | image_url: width: 200 | image_tag: widths: '150, 200' }}

              {% assign description = 'complements freshness of seafood extremely well' %}

            {% else %}

          {% endcase %}

          <p class="text-[22px]">{{ item }}</p>
          <p>
            {{ product.title }}
            {{ description }}
          </p>
        </div>
      {% endfor %}

      {% comment %}
      {% endcomment %}

      {% comment %}
        <p class="text-[26px]">{{ block.settings.food_category }}</p>

        <p class="text-[16px] text-[#1D1D1D62]">{{ block.settings.explanation }}</p>
      {% endcomment %}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Food Pairings",
  "settings": [
    {
      "type": "text",
      "id": "food_section_title",
      "label": "Food Section Title",
      "default": "Food Pairings"
    }
  ],
  "blocks": [
    {
      "type": "food_pairing",
      "name": "Food Pairing",
      "settings": [
        {
          "type": "text",
          "id": "food_array",
          "label": "Title"
        }
      ]
    }
  ]
}
{% endschema %}
