<div class="py-24 flex flex-col max-w-[1360px] mx-auto w-full px-5">
  <h2 class="text-[22px] lg:text-[30px] mb-[20px] sm:mb-[36px] font-semibold">Shop By Taste Profile</h2>

  <div id="container" class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 px-5">
    {% comment %}
      Initialize an empty array to collect all metafield texts
    {% endcomment %}
    {% assign all_texts = '' %}

    {% comment %}
      Loop through each product to extract metafield texts
    {% endcomment %}
    {% for product in collections.all.products %}
      {% if product.metafields.filters and product.metafields.filters.taste %}
        {% assign metafield_values = product.metafields.filters.taste | split: '","' %}
        {% for value in metafield_values %}
          {% assign clean_value = value | replace: '[', '' | replace: ']', '' | replace: '"', '' | strip %}
          {% unless all_texts contains clean_value %}
            {% case clean_value %}
              {% when 'Spicy' %}
                <div class="rounded-[10px] bg-[#f7f7f7] flex flex-col p-2 items-center hover:scale-105 duration-200 transition-transform">
                  <a href="{{collections['spicy'].url}}">
                    {{ images['staranise.webp'] | image_url: width: 189 | image_tag }}
                    <p class="text-center">{{ clean_value }}</p>
                  </a>
                </div>

              {% when 'Fruity' %}
                <div class="rounded-[10px] bg-[#f7f7f7] flex flex-col p-2 items-center hover:scale-105 duration-200 transition-transform">
                  <a href="{{collections['fruity'].url}}">
                    {{ images['grape.webp'] | image_url: width: 189 | image_tag }}
                    <p class="text-center">{{ clean_value }}</p>
                  </a>
                </div>

              {% when 'Herbaceous' %}
                <div class="rounded-[10px] bg-[#f7f7f7] flex flex-col p-2 items-center hover:scale-105 duration-200 transition-transform">
                  <a href="{{collections['herbaceous'].url}}">
                    {{ images['herbs.webp'] | image_url: width: 189 | image_tag }}
                    <p class="text-center">{{ clean_value }}</p>
                  </a>
                </div>

              {% when 'Sweet' %}
                <div class="rounded-[10px] bg-[#f7f7f7] flex flex-col p-2 items-center hover:scale-105 duration-200 transition-transform">
                  <a href="{{collections['sweet'].url}}">
                    {{ images['chocolate.webp'] | image_url: width: 189 | image_tag }}
                    <p class="text-center">{{ clean_value }}</p>
                  </a>
                </div>

              {% when 'Smoky' %}
                <div class="rounded-[10px] bg-[#f7f7f7] flex flex-col p-2 items-center hover:scale-105 duration-200 transition-transform">
                  <a href="{{collections['smoky'].url}}">
                    {{ images['coal.webp'] | image_url: width: 189 | image_tag }}
                    <p class="text-center">{{ clean_value }}</p>
                  </a>
                </div>

              {% when 'Nutty' %}
                <div class="rounded-[10px] bg-[#f7f7f7] flex flex-col p-2 items-center hover:scale-105 duration-200 transition-transform">
                  <a href="{{collections['nutty'].url}}">
                    {{ images['acorn.webp'] | image_url: width: 189 | image_tag }}
                    <p class="text-center">{{ clean_value }}</p>
                  </a>
                </div>

              {% when 'Floral' %}
                <div class="rounded-[10px] bg-[#f7f7f7] flex flex-col p-2 items-center hover:scale-105 duration-200 transition-transform">
                  <a href="{{collections['floral'].url}}">
                    {{ images['flower.webp'] | image_url: width: 189 | image_tag }}
                    <p class="text-center">{{ clean_value }}</p>
                  </a>
                </div>

              {% else %}

            {% endcase %}

            {% assign all_texts = all_texts | append: clean_value | append: ',' %}
          {% endunless %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>
