<div class="py-24 flex flex-col max-w-[1360px] mx-auto w-full px-8">
  <h2 class="text-[36px] mb-[36px] font-semibold">Shop By Taste Profile</h2>

  <div id="container" class="flex gap-5 flex-wrap">
    {% comment %}
      Initialize an empty array to collect all metafield texts
    {% endcomment %}
    {% assign all_texts = '' %}

    {% comment %}
      Loop through each product to extract metafield texts
    {% endcomment %}
    {% for product in collections.all.products %}
      {% if product.metafields.filters and product.metafields.filters.taste %}
        {% assign metafield_values = product.metafields.filters.taste | split: '","' %}
        {% for value in metafield_values %}
          {% assign clean_value = value | replace: '[', '' | replace: ']', '' | replace: '"', '' | strip %}
          {% unless all_texts contains clean_value %}
            {% case clean_value %}
              {% when 'Spicy' %}
                <div class="rounded-[10px] bg-[#f7f7f7] flex flex-col p-6 items-center">
                  {{ images['spicy.png'] | image_url: width: 189 | image_tag }}
                  <p class="">{{ clean_value }}</p>
                </div>

              {% when 'Fruity' %}
                <div class="rounded-[10px] bg-[#f7f7f7] flex flex-col p-6 items-center">
                  {{ images['fruity.png'] | image_url: width: 189 | image_tag }}
                  <p class="">{{ clean_value }}</p>
                </div>

              {% when 'Herbaceous' %}
                <div class="rounded-[10px] bg-[#f7f7f7] flex flex-col p-6 items-center">
                  {{ images['herby.png'] | image_url: width: 189 | image_tag }}
                  <p class="">{{ clean_value }}</p>
                </div>

              {% when 'Sweet' %}
                <div class="rounded-[10px] bg-[#f7f7f7] flex flex-col p-6 items-center">
                  {{ images['sweet.png'] | image_url: width: 189 | image_tag }}
                  <p class="">{{ clean_value }}</p>
                </div>

              {% when 'Smoky' %}
                <div class="rounded-[10px] bg-[#f7f7f7] flex flex-col p-6 items-center">
                  {{ images['charcoal.png'] | image_url: width: 189 | image_tag }}
                  <p class="">{{ clean_value }}</p>
                </div>

              {% when 'Nutty' %}
                <div class="rounded-[10px] bg-[#f7f7f7] flex flex-col p-6 items-center">
                  {{ images['nut.png'] | image_url: width: 189 | image_tag }}
                  <p class="">{{ clean_value }}</p>
                </div>

              {% else %}

            {% endcase %}

            {% assign all_texts = all_texts | append: clean_value | append: ',' %}
          {% endunless %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>
